 /*
 Se usa siempre Class no ID
 Class = aplicar estilos
 ID = aplicar funcionalidad (javascript)

 .bloque
 .bloque_elemento
 .bloque_elemento--modificador
 
 */

 .cards{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}